@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 142 100% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 142 100% 50%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 142 100% 50%;
    --input: 142 100% 50%;
    --ring: 142 100% 50%;

    --radius: 0.5rem;

    --chart-1: 142 100% 50%;
    --chart-2: 142 70% 40%;
    --chart-3: 142 50% 30%;
    --chart-4: 142 30% 20%;
    --chart-5: 142 20% 15%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 98%;

    --primary: 142 100% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 142 100% 50%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 142 100% 50%;
    --input: 142 100% 50%;
    --ring: 142 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

@import "../components/glow-effect.css";

